<div [formGroup]="form">
	<label class="col-sm-12 control-label" [attr.for]="question.key">{{question.label}}</label>
	<div class="col-sm-12" [ngSwitch]="question.controlType">
		<input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
		[id]="question.key" [type]="question.type" [readonly]="question.readonly">
		<div class="custom-select" *ngSwitchCase="'dropdown'">
			<select [id]="question.key" [formControlName]="question.key">
				<option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
			</select>
		</div>
		<input class="form-control" *ngSwitchCase="'date'" [formControlName]="question.key"
		[id]="question.key" [type]="'date'" [readonly]="question.readonly">
		<div class="form-control" *ngSwitchCase="'datalist'">
	    	<datalist-select *ngSwitchCase="'datalist'" [form]="form" [question]="question">
	  		</datalist-select>
		</div>
		<div class="form-control" *ngSwitchCase="'tag'">
	    	<tag-select [form]="form" [question]="question">
	  		</tag-select>
		</div>
		<div class="form-control row" *ngSwitchCase="'grid'">
	    	<dc-grid [form]="form" [question]="question">
	  		</dc-grid>
		</div>
		<div class="form-control radio-control row" *ngSwitchCase="'radio'">
			<div class="col-md-4" *ngFor="let opt of question.options">
      			<label class="radio-inline custom-radio nowrap">
					<input [type]="'radio'" [id]="question.key" [formControlName]="question.key" [value]="opt.key" [name]="question.key" (click)="dynamicFormOptionSelection(question.key, opt.key)" [readonly]="question.readonly">
        			<span>{{opt.value}}</span>
      			</label>
			</div>
		</div>
		<div>
			<input class="form-control" *ngSwitchCase="'input'" [formControlName]="question.key"
			[id]="question.key" [type]="question.type" [readonly]="question.readonly">
		</div>
		<div class="checkbox-control" *ngSwitchCase="'checkbox'">
			<input class="checkbox-input-control" [formControlName]="question.key"
			[id]="question.key" [type]="question.type" (click)="dynamicFormOptionSelection(question.key, $event.target.checked)" [readonly]="question.readonly">
		</div>
		<div class="checkbox-control" *ngSwitchCase="'checkboxes'">
      		<label class="checkbox-label-control" [attr.for]="question.key">
				<input class="checkbox-input-control" [formControlName]="question.key"
				[id]="question.key" [type]="question.type" (click)="dynamicFormOptionSelection(question.key, $event.target.checked)" [readonly]="question.readonly">
      		{{question.label}}</label>
		</div>
		<div>
			<textarea class="form-control" *ngSwitchCase="'textarea'" [formControlName]="question.key"
			[id]="question.key" [readonly]="question.readonly"></textarea>
		</div>
		<div>
			<textarea class="form-control" *ngSwitchCase="'textline'" rows="1" cols="50" [formControlName]="question.key"
			[id]="question.key" [readonly]="question.readonly"></textarea>
		</div>
      	<counter-input *ngSwitchCase="'counter'" 
        	[formControlName]="question.key"
        	[counterRangeMax]="50"
        	[counterRangeMin]="0"
        	[counterValue]="50"
        >	        	
        </counter-input>
    	<dropdown-select *ngSwitchCase="'bs-dropdown'" [form]="form" [question]="question">
  		</dropdown-select>

	</div> 
	<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
