<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
		 [ngClass]="{scrolled: isScrolled}">
	<a routerLink="/pages/dashboard" class="al-logo clearfix">        
		<img src="{{ ( 'logo_lg' | appLogo ) }}">
	</a>
	<a (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

	<dc-apps-dropdown></dc-apps-dropdown>

	<div class="user-profile clearfix">
		<div class="dropdown al-user-profile">
			<a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
				<img src="{{ ( 'stache' | profilePicture ) }}">
			</a>
			<ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
				<li class="dropdown-item"><i class="dropdown-arr"></i></li>
				<li class="dropdown-item"><a routerLink="/profile" href><i class="fa fa-user"></i>Profile</a></li>
				<li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>
				<li class="dropdown-item"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
			</ul>
		</div>
<!--     <dc-msg-center></dc-msg-center>
 -->  </div>
</div>
