<button (click)="openformDesigner(content)"
	type="button" 
	class="btn btn-default btn-dynamic-form-designer">
		Designer
</button>
<template #content let-c="close" let-d="dismiss">
    <div class="modal-header" data-backdrop="static">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
       <h4 class="modal-title">Form Designer</h4>
    </div>
    <div class="modal-body" >
        <div class="wrapper">
            <div class="container" 
                *ngFor="let formSection of getFormData()" 
                [id]="formSection.group" 
                [dragula]='"nested-bag"' 
            >               
                <div class="row">
                    <div class="pull-right">
                        <i class="fa fa-cog" 
                            (click)="d('edit click'); openFormSettings(formSection.group, content2)"
                        >                            
                        </i>                
                    </div>
                </div>
                <div *ngFor="let question of formSection.fields"
                    [id]="question.key" 
                    [className]="getQuestionClass(formSection.groupColumns, question.className)"
                >
                    <span *ngIf="!question.hidden"
                        (click)="d('edit click'); openFormSettings(formSection.group, content2)" 
                        [innerHtml]="question.label"
                    >
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addGroup()">
                    Add New Card
            </button>
        </div>
  	</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="saveForm(); c('Save click')">
            Save
        </button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">
            Close
        </button>
  	</div>
</template>


<template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header" data-backdrop="static">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); openformDesigner(content, true)">
            <span aria-hidden="true">&times;</span>
        </button>
       <h4 class="modal-title">Form Designer</h4>
    </div>
    <div class="modal-body" >
        Card Style
        <div class="row">
            <div class="col-md-4" *ngFor="let item of groupColumnItems">
                <label class="custom-radio nowrap">
                    <input type="checkbox" name="inlineRadioOptions" value="col-md-12" [checked]="item === groupColumnModel.options" (click)="groupColumnModel.options = item">
                    <span>
                        {{ item }}
                    </span>
                </label>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-4">Label</th>
                            <th class="col-md-1">Hide</th>
                            <th class="col-md-2">Class</th>
                            <th class="col-md-3">Placeholder</th>
                            <th class="col-md-1">Req</th>
                            <th class="col-md-1">Read</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngFor="let item of questionsCopy">
                            <tr *ngIf="item.group == group">
                                <td class="col-md-4">
                                    <input [(ngModel)]="item.label" type="text" maxlength="20">
                                </td>             
                                <td class="col-md-1">
                                    <input  [(ngModel)]="item.hidden" type="checkbox" [disabled]="item.required">
                                </td>
                                 <td class="col-md-2">
                                    <select [(ngModel)]="item.className">
                                        <option value="1-Column">1-Column</option>
                                        <option value="2-Column">2-Column</option>
                                        <option value="3-Column">3-Column</option>
                                        <option value=""></option>
                                    </select>                                                            
                                </td>
                                <td class="col-md-3">
                                    <input [(ngModel)]="item.placeholder" type="text" maxlength="15">
                                    
                                </td>             
                                <td class="col-md-1">
                                    <input [ngModel]="item.required" type="checkbox" disabled=true>
                                </td>
                                <td class="col-md-1">
                                    <input [ngModel]="item.readonly" type="checkbox" disabled=true>
                                </td>                
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="saveFormAttributesForGroup(); c('Save click'); openformDesigner(content, true)">
            Save
        </button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click'); openformDesigner(content, true)">
            Close
        </button>
    </div>
</template>
