<div>
	<form 
		(ngSubmit)="onSubmit()" 
		[formGroup]="form"
		>
		<dc-card *ngFor="let formSection of formData"> 
			<div class="row">
				<div *ngFor="let question of formSection.fields" 
					class="form-group"> 
					<df-question 
						[class.col-md-12]="formSection.columns == 1 || question.class == 'col-md-12' "
						[class.col-md-6]="formSection.columns == 2  || question.class == 'col-md-6' " 
						[class.col-md-4]="formSection.columns == 3  || question.class == 'col-md-4' " 
						[question]="question" 
						[form]="form">				
					</df-question>
				</div>
			</div>
		</dc-card>	
		<div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
				<button 
					[disabled]="!form.valid" 
					type="submit" 
					class="btn btn-default btn-dynamic-form">
						Apply
				</button>
			</div>
		</div>
	</form>
	<div *ngIf="payLoad" 
	class="form-row help-block">
		<strong>
			Saved the following values
		</strong>
		<br>
		{{payLoad}}
	</div>
</div>
