	<div class="col-lg-12 col-md-12">
	<button 
		(click)="onAdd()"
		type="button" 
		class="btn btn-new-report"><i class="ion-plus-round"></i>
			{{ 'BUTTON_NEW_FIELD_REPORT' | dcTranslate }}
	</button>
	<span 
		(click)="onRefresh()"
		class="btn btn-user-refresh"><i class="ion-android-refresh"></i>
	</span>
	<dc-card title="{{ 'HEADING_PROJECTS' | dcTranslate }}" cardClass="with-scroll table-panel">						
						
			<input class="form-control" 
				placeholder="{{ 'PLACEHOLDER_SEARCH' | dcTranslate }}" 
				[(ngModel)]="searchText" 
				type="text" 
			/>

		  	<div class="row">
						<div class="table-responsive table-hover">
						  	<table class="table">
								<tr class="table-header no-border">
							  		<th>
							  			<span>{{ 'NAME' | dcTranslate }}</span>
							  		</th>
							  		<th>
							  			<span>{{ 'DESCRIPTION' | dcTranslate }}</span>
						  			</th>
							  		<th>
							  			{{ 'ACTION' | dcTranslate }}
						  			</th>
								</tr>
								<tr *ngFor="let project of filteredList" >
							  		<td (click)="onEdit(project, dialogContent)">
							  			{{ project.name }}
						  			</td>
							  		<td (click)="onEdit(project, dialogContent)">
							  			{{ project.description }}
						  			</td>
							  		<td>
							  			<i class="ion-edit pointer" 
							  				(click)="onEdit(project, dialogContent)">
							  			</i>										 
							  			<i class="ion-ios-trash pointer" (click)="onDeleteConfirm(project, dialogContent)"></i>
						  			</td>
								</tr>
						  	</table>
						</div>
			</div>
		</dc-card>
	</div>
<ng-template #dialogContent let-c="close" let-d="dismiss">
   <div class="modal-header" data-backdrop="static">
        <h4 class="modal-title">{{ dialogTitle }}</h4>
    </div>
    <div class="modal-body">
    	<div>{{ dialogBody }}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-dynamic-form float-right" (click)="d('cancel')">
            {{ 'BUTTON_CANCEL' | dcTranslate }}
        </button>
        <button type="button" class="btn btn-primary btn-dynamic-form float-right" (click)="c('ok')">
            {{ 'BUTTON_OK' | dcTranslate }}
        </button>
    </div>
</ng-template>
