<div>

	<div *ngIf="!loadedImage" class="photo-upload btn btn-default clear">
		<input #myInput class="upload" type="file" (change)="fileChangeListener($event)">
	    <span>{{ 'BUTTON_ADD_PHOTO' | dcTranslate }}</span>
	</div>
	<button *ngIf="loadedImage" type="button" 
		class="btn btn-default clear" 
		(click)="clear()">
		{{ 'BUTTON_REMOVE' | dcTranslate }}
	</button>
    <div class="row" *ngIf="!loadedImage" [hidden]="!data.image">     
	    <img-cropper class="imgcrop"
	    	[image]="data" 
	    	[settings]="cropperSettings" 
	    	(onCrop)="cropped($event)" 
	    	#cropper>
    	</img-cropper>
	    <span class="ng2-img-crop-result" *ngIf="data.image" >
	        <img [src]="data.image" 
	        [width]="croppedWidth" 
	        [height]="croppedHeight">
	    </span>
    </div>
    <div *ngIf="loadedImage" class="row">     
		<div class="imgcrop">
	        <img [src]="loadedImage" 
	        [width]="cropperSettings.height" 
	        [height]="cropperSettings.width">	    
		</div>
     </div>
    <div class="row" *ngIf="this.meta.dateTime" class="imgcrop">
    	{{dateTime}}
    </div>	    
    <div class="row" *ngIf="this.meta.gpsInfo" class="imgcrop">
    	{{meta.gpsInfo.latGeoCode}} &nbsp;
    	{{meta.gpsInfo.longGeoCode}}
    </div>	    
</div>