<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <dc-card title="Inline Form" cardClass="with-scroll">
        <inline-form></inline-form>
      </dc-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div>
        <dc-card title="Basic Form" cardClass="with-scroll">
          <basic-form></basic-form>
        </dc-card>
      </div>

      <div>
        <dc-card title="Horizontal Form" cardClass="with-scroll">
          <horizontal-form></horizontal-form>
        </dc-card>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <dc-card title="Form Without Labels" cardClass="with-scroll">
          <without-labels-form></without-labels-form>
        </dc-card>
      </div>
      <div>
        <dc-card title="Block Form" cardClass="with-scroll">
          <block-form></block-form>
        </dc-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <dc-card title="Picture Uploader" cardClass="with-scroll">
        <dc-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></dc-picture-uploader>
      </dc-card>
    </div>
  </div>
</div>
