<div class="widgets">

	<div class="row">
		<div class="col-md-6">
			<dc-card title="Standard Fields" dcCardClass="with-scroll">
				<standard-inputs></standard-inputs>
			</dc-card>

			<dc-card title="Input Groups" dcCardClass="with-scroll">
				<group-inputs></group-inputs>
			</dc-card>

			<dc-card title="Selects" dcCardClass="with-scroll">
				<select-inputs></select-inputs>
			</dc-card>
		</div>

		<div class="col-md-6">
			<dc-card title="Validation States" dcCardClass="with-scroll">
				<validation-inputs></validation-inputs>
			</dc-card>

			<dc-card title="Checkboxes & Radios" dcCardClass="with-scroll">
				<checkbox-inputs></checkbox-inputs>
			</dc-card>

			<dc-card title="Rating" dcCardClass="with-scroll">
				<rating-inputs></rating-inputs>
			</dc-card>
		</div>
	</div>

</div>