<section class="chartist">
  <div class="row">
    <div class="col-md-6 ">
      <dc-card title="Lines" cardClass="with-scroll">
        <h5>Simple line chart</h5>
        <dc-chartist-chart chartistChartClass="ct-chart"
                           chartistChartType="Line"
                           [chartistChartData]="data['simpleLineData']"
                           [chartistChartOptions]="data['simpleLineOptions']">
        </dc-chartist-chart>

        <h5>Line chart with area</h5>
        <dc-chartist-chart chartistChartClass="ct-chart"
                           chartistChartType="Line"
                           [chartistChartData]="data['areaLineData']"
                           [chartistChartOptions]="data['areaLineOptions']">
        </dc-chartist-chart>

        <h5>Bi-polar line chart with area only</h5>
        <dc-chartist-chart chartistChartClass="ct-chart"
                           chartistChartType="Line"
                           [chartistChartData]="data['biLineData']"
                           [chartistChartOptions]="data['biLineOptions']">
        </dc-chartist-chart>
      </dc-card>
    </div>

    <div class="col-md-6 ">
      <dc-card title="Bars" cardClass="with-scroll">
        <h5>Simple bar chart</h5>
        <dc-chartist-chart chartistChartClass="ct-chart"
                           chartistChartType="Bar"
                           [chartistChartData]="data['simpleBarData']"
                           [chartistChartOptions]="data['simpleBarOptions']">
        </dc-chartist-chart>

        <h5>Multi-line labels bar chart</h5>
        <dc-chartist-chart chartistChartClass="ct-chart"
                           chartistChartType="Bar"
                           [chartistChartData]="data['multiBarData']"
                           [chartistChartOptions]="data['multiBarOptions']"
                           [chartistChartResponsive]="data['multiBarResponsive']">
        </dc-chartist-chart>

        <h5>Stacked bar chart</h5>
        <dc-chartist-chart chartistChartClass="ct-chart stacked-bar"
                           chartistChartType="Bar"
                           [chartistChartData]="data['stackedBarData']"
                           [chartistChartOptions]="data['stackedBarOptions']">
        </dc-chartist-chart>
      </dc-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <dc-card title="Pies & Donuts" cardClass="with-scroll">
        <div class="row">
          <div class="col-md-12 col-lg-4"><h5>Simple Pie</h5>
            <dc-chartist-chart chartistChartClass="ct-chart stacked-bar"
                               chartistChartType="Pie"
                               [chartistChartData]="data['simplePieData']"
                               [chartistChartOptions]="data['simplePieOptions']"
                               [chartistChartResponsive]="getResponsive(20, 80)">
            </dc-chartist-chart>
          </div>
          <div class="col-md-12 col-lg-4"><h5>Pie with labels</h5>
            <dc-chartist-chart chartistChartClass="ct-chart stacked-bar"
                               chartistChartType="Pie"
                               [chartistChartData]="data['labelsPieData']"
                               [chartistChartOptions]="data['labelsPieOptions']">
            </dc-chartist-chart>
          </div>
          <div class="col-md-12 col-lg-4"><h5>Donut</h5>
            <dc-chartist-chart chartistChartClass="ct-chart stacked-bar"
                               chartistChartType="Pie"
                               [chartistChartData]="data['simpleDonutData']"
                               [chartistChartOptions]="data['simpleDonutOptions']"
                               [chartistChartResponsive]="getResponsive(5, 40)">
            </dc-chartist-chart>
          </div>
        </div>
      </dc-card>
    </div>
  </div>
</section>
