@import '../../../../sass/conf/conf';

.ellipsis {
  	text-overflow: ellipsis;

  	/* Required for text-overflow to do anything */
  	white-space: nowrap;
  	overflow: hidden;
}
.al-navbar-item-container {
	position: relative;
	padding: 0 15px;
	float: left;
	box-sizing: border-box;
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
	height: 50px;
	.al-navbar-item {
		line-height: 48px;
		padding:	10px;
		color: $navbar-text;
		.al-navbar-icon {
			position: absolute;
			right: 0;
			top: 3px;
		}
	}
}
@media screen and (min-width: 1325px) {
	.al-navbar-item-container {
		width: 14%;
		flex: 0 0 14%;
	}
}
@media screen and (min-width: 700px) and (max-width: 1325px)  {
	.al-navbar-item-container {
		width: 16%;
		flex: 0 0 16%;      
		font-size: 12px;
	}
}
@media screen and (max-width: 700px)  {
	.al-navbar-item-container {
		width: 50%;
		flex: 0 0 50%;
	}
}

@media screen and
(min-width: 1325px) and (max-width: 1650px),
(min-width: 700px) and (max-width: 830px),
(max-width: 400px) {
	.al-navbar-icon {
		display: none;
	}
}

