  <span class="al-navbar-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 ellipsis" [title]="navbarItem.title" [ngClass]="{ 'selected': navbarItem.selected}">
  	<a  *ngIf="navbarItem.url"
	   	[href]="navbarItem.url" [target]="navbarItem.target" class="al-navbar-item text-center">
	    	<i *ngIf="navbarItem.icon" class="{{ navbarItem.icon }}"></i>
	    	<span class="al-navbar-title">{{ navbarItem.title | dcTranslate }}</span>
  	</a>
  	<a  *ngIf="!navbarItem.url"
	   	[routerLink]="navbarItem.route.paths" class="al-navbar-item text-center">
	    	<i *ngIf="navbarItem.icon" class="{{ navbarItem.icon }}"></i>
	    	<span class="al-navbar-title">{{ navbarItem.title | dcTranslate }}</span>
  	</a>
 </span>
