<div class="widgets">

	<div class="row">
		<div class="col-lg-6 col-md-12">
			<dc-card title="Hover Rows" cardClass="with-scroll table-panel">
				<hover-table></hover-table>
			</dc-card>
		</div>
		<div class="col-lg-6 col-md-12">
			<dc-card title="Bordered Table" cardClass="with-scroll table-panel">
				<bordered-table></bordered-table>
			</dc-card>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<dc-card title="Condensed Table" cardClass="with-scroll table-panel">
				<condensed-table></condensed-table>
			</dc-card>
		</div>
		<div class="col-lg-6 col-md-12">
			<dc-card title="Striped Rows" cardClass="with-scroll table-panel">
				<striped-table></striped-table>
			</dc-card>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<dc-card title="Contextual Table" cardClass="with-scroll table-panel">
				<contextual-table></contextual-table>
			</dc-card>
		</div>
		<div class="col-lg-6 col-md-12">
			<dc-card title="Responsive Table" cardClass="with-scroll table-panel">
				<responsive-table></responsive-table>
			</dc-card>
		</div>
	</div>

</div>
