<div class="widgets">
	<div class="row">
		<div class="col-md-3">
			<dc-card title="Flat Buttons" cardClass="with-scroll button-panel">
				<flat-buttons></flat-buttons>
			</dc-card>
		</div>
		<div class="col-md-3">
			<dc-card title="Raised Buttons" cardClass="with-scroll button-panel">
				<raised-buttons></raised-buttons>
			</dc-card>
		</div>
		<div class="col-md-3">
			<dc-card title="Different Sizes" cardClass="with-scroll button-panel df-size-button-panel">
				<sized-buttons></sized-buttons>
			</dc-card>
		</div>
		<div class="col-md-3">
			<dc-card title="Disabled" cardClass="with-scroll button-panel">
				<disabled-buttons></disabled-buttons>
			</dc-card>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">

			<dc-card title="Icon Buttons" cardClass="with-scroll">
				<icon-buttons></icon-buttons>
			</dc-card>

			<dc-card title="Large Buttons" cardClass="with-scroll large-buttons-panel">
				<large-buttons></large-buttons>
			</dc-card>

		</div>
		<div class="col-md-6">

			<dc-card title="Button Dropdowns" cardClass="with-scroll">
				<dropdown-buttons></dropdown-buttons>
			</dc-card>

			<dc-card title="Button Groups" cardClass="with-scroll">
				<group-buttons></group-buttons>
			</dc-card>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12"
				 dc-panel
				 dc-panel-title="Progress Buttons"
				 dc-panel-class="with-scroll">
			<div ng-include="'app/pages/ui/buttons/widgets/progressButtons.html'"></div>
		</div>
	</div>

</div>
